.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px 40px;

  position: sticky;
  top: 0;
  z-index: 1000;

  background: linear-gradient(90deg,
      #151126 0%,
      #201536 50%,
      #151126 100%);

  border-bottom: 1px solid #4a2557;
}

.header a {
  color: #e8e6f0;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  transition: color 0.2s ease;
}

.header a:hover {
  color: #d629e3;
}

.merchStoreLink {
  justify-self: start;
}

.bandLogo {
  justify-self: center;
}

.bandLogo img {
  width: 80px;
}

.navigation {
  justify-self: end;
}

.heroImage {
  width: 50%;
  margin: auto;
}

#imageHero {
  width: 100%;
  display: block;
}

.shows {
  width: 80%;
  margin: auto;
}

.show {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px 0px;
}

.showDate {
  justify-self: end;
}

.showsHeading {
  text-align: center;
}

.show p {
  margin: 0;
}

.show:not(:last-child) {
  border-bottom: 1px solid #2a263d;
}

.showsHeading::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #c026d3;
  margin: 12px auto 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 20px 40px;

  background: linear-gradient(90deg,
      #151126 0%,
      #201536 50%,
      #151126 100%);

  border-top: 1px solid #4a2557;
}

.footer img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

@media (max-width : 768px) {

  .heroImage {
    width: 80%;
  }

}