.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}

.heroImage {
  width: 50%;
  margin: auto;
}

#imageHero {
  width: 100%;
  display: block;
}

.shows {
  width: 80%;
  margin: auto;
}

.show {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px 0px;
}

.showDate {
  justify-self: end;
}

.showsHeading {
  text-align: center;
}

.show p {
  margin: 0;
}

.show:not(:last-child) {
  border-bottom: 1px solid #2a263d;
}

.showsHeading::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #c026d3;
  margin: 12px auto 0;
}


@media (max-width : 768px) {

  .heroImage {
    width: 80%;
  }

}